<section id="bio">
  <section id="img-wrapper">
    <img src="{{site.baseurl}}/assets/img/profile.webp" alt="profile picture" width="150" height="150"/>
  </section>
  <section id="bio-wrapper">
    <div id="text-wrapper"><p>{{site.data.author.description}}</p><br>{{ site.data.author.location}}</div>
    <div id="social-wrapper">
      {% for i in site.data.author.contact %}
      <a href="{{i.url}}" target="_blank" aria-label="my {{ i.title }}">
        <img src="{{site.baseurl}}/assets/icons/{{i.title}}.svg" alt="" />
      </a>
      {%endfor%}
    </div>
  </section>
</section>
<section id="interests">
  <h2 style="font-size: 1.17em">currently working on:</h2>
  <ul>
    <li><a href="https://bidaya.ai">📝 ai which helps government contractors find and win new business</a></li>
    <li><a href="https://nameguessr.com">🤖 ai which guesses your identity from your first name</a></li>
    <li><a href="https://apps.shopify.com/better-b2b-shipping">📦 better b2b shipping customization on shopify</a></li>
  </ul>
</section>