<section id="bio">
  <section id="img-wrapper">
    <img src="{{site.baseurl}}/assets/img/profile.jpg" alt="profile picture" width="150" height="150"/>
  </section>
  <section id="bio-wrapper">
    <div id="text-wrapper"><p>{{site.data.author.description}}</p><br>{{ site.data.author.location}}</div>
    <div id="social-wrapper">
      {% for i in site.data.author.contact %}
      <a href="{{i.url}}" target="_blank" aria-label="my {{ i.title }}">
        <img src="{{site.baseurl}}/assets/icons/{{i.title}}.svg" alt="" />
      </a>
      {%endfor%}
    </div>
  </section>
</section>
<section id="interests">
  <h2 style="font-size: 1.17em">currently working on:</h2>
  <ul>
    <li><a href="https://colivevalues.com">👨🏻‍💻 coliving/coworking community building</a></li>
    <li><a href="https://www.plumbhartt.com">🪠 service business growth strategy & web design</a></li>
    <li><a href="https://nameguessr.com">🤖 AI identity guesser</a></li>
  </ul>
</section>