<!DOCTYPE html>
<html lang="en">
{% include head.liquid %}

<body>
  <main>
    {% include header.liquid %}
    {{ content }}
    {% include footer.liquid %}
  </main>
  {% include category-modal.liquid %}
</body>

</html>
