---
layout: default
---
<section class="article">
  <div class="article-header">
    <h2 class="article-title">{{page.title}}</h2>
    <div class="article-subtitle">{{page.description}}</div>
    <small class="date">{{page.date | date_to_string}} • {{ page.reading_time }} min read</small>
    <div class="categories">
      {% for c in page.categories %}
      <a href="#!" class="category">{{c}}</a>
      {% endfor %}
    </div>
  </div>
  <div class="content">{{content}}</div>
  {% if page.comments %}
  {% include comments.html %}
  {% endif %}
</section>
